.footer {
    position: relative;

    @include breakpoint-down(xl) {
        overflow-x: hidden;
        padding-top: 40px;
    }

}

.footer__top {
    display: flex;
    align-items: flex-start;
    max-width: 1016px;
    width: 100%;
    padding-bottom: 104px;

    @include breakpoint-down(md) {
        flex-direction: column;
    }
}

.footer__logo {
    @include breakpoint-up(md) {
        margin-right: 15%;
    }

    @include breakpoint-between(sm, md) {
        margin-bottom: 40px;
    }

    @include breakpoint-down(sm) {
        margin-bottom: 45px;
    }
}

.footer__logo-item {
    @include breakpoint-up(md) {
        width: 280px;
    }

    @include breakpoint-between(sm, md) {
        width: 230px;
    }

    @include breakpoint-down(sm) {
        width: 200px;
    }
}

.footer__nav {
    @include breakpoint-up(md) {
        margin-right: 11.8%;
    }

    @include breakpoint-between(sm, md) {
        margin-bottom: 40px;
    }

    @include breakpoint-down(sm) {
        margin-bottom: 45px;
    }
}

.footer__nav-item {
    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.footer__dots {
    @include breakpoint-up(xl) {
        position: relative;
        bottom: -19px;
        right: -23.6%;
    }

    @include breakpoint-down(xl) {
        position: absolute;
        right: -210px;
        bottom: 0;
        z-index: -1;
    }
}

.footer__bottom {
    padding: 19px 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 70px;
}

.footer__bottom-text {
    text-align: center;
    position: relative;

    @include breakpoint-up(xl) {
        right: -16%;
    }
}