.banner {
    position: relative;
    margin-bottom: 79px;

    @include breakpoint-up(md) {
        padding-top: 180px;
    }

    @include breakpoint-between(sm, md) {
        padding-top: 90px;
    }

    @include breakpoint-down(sm) {
        padding-top: 80px;
    }
}

.banner__wrap {
    @include breakpoint-between(xl, xxxl) {
        padding-right: 60px;
    }
}

.banner__title {
    text-transform: uppercase;
    opacity: 0;
    animation: 0.6s slideInFromLeft ease-in-out forwards;

    @include breakpoint-up(md) {
        padding-left: 60px;
        margin-bottom: 30px;
    }

    @include breakpoint-down(md) {
        margin-bottom: 40px;
    }
}

.banner__contentholder {
    overflow: hidden;
}

.banner__content {
    margin-left: auto;
    width: fit-content;
    max-width: 40.5%;
    overflow: hidden;
    opacity: 0;
    animation: 0.4s slideInFromBottom 0.2s ease-in-out forwards;

    @include breakpoint-between(sm, md) {
        max-width: 54.5%;
    }

    @include breakpoint-down(sm) {
        max-width: 100%;
        margin-left: unset;
    }
}

.banner__text {
    text-align: left;

    @include breakpoint-up(md) {
        margin-bottom: 29px;
    }

    @include breakpoint-down(md) {
        margin-bottom: 40px;
    }
}

.banner__cta {
    padding-bottom: 49px;
    padding-right: 80px;
    width: fit-content;
    position: relative;
}

.banner__cta-btn {
    text-transform: uppercase;
    font-weight: $bold;
    color: $purple;
    letter-spacing: 0.05em;
}

.banner__cta-shape {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: transform .3s ease;
}

.banner__hexaeder {
    position: absolute;
    top: 1%;
    left: 50%;
    animation: rotateHexagon 2s infinite linear;

    @include breakpoint-down(md) {
        top: 0;
    }
}

.banner__atom-hexaeder {
    position: absolute;
    bottom: 5%;
    animation: rotateAtomHexagon 6s infinite linear;

    @include breakpoint-up(md) {
        left: 35%;
    }

    @include breakpoint-down(md) {
        z-index: -1;
        opacity: .4;
    }

    @include breakpoint-between(sm, md) {
        left: 15%;
    }

    @include breakpoint-between(xs, sm) {
        bottom: 2%;
        left: 75%;
    }

    @include breakpoint-down(xs) {
        bottom: -18%;
        left: 10%;
        opacity: .2;
    }
}