.network__top {
    width: 100%;
    height: 290px;
    position: relative;
}

.network__dots {
    position: absolute;
    bottom: 35.5%;
    left: 0;

    @include breakpoint-down(xl) {
        bottom: 20.5%;
    }
}

.network__arrows {
    position: absolute;
    left: 70%;
    bottom: 21px;
}

.network__atom {
    bottom: 47.5%;
    right: 4.9%;
    position: absolute;
    animation: rotateAtomNona 4s infinite linear;
}

.network__title {
    text-transform: uppercase;

    @include breakpoint-up(xl) {
        margin-bottom: 68px;
    }

    @include breakpoint-up(md) {
        max-width: 68.2%;
    }

    @include breakpoint-down(sm) {
        margin-bottom: 40px;
    }
}

.network__socials-list {
    position: relative;
    height: 615px;
    max-width: 1237px;
    width: 100%;

    @include breakpoint-down(xl) {
        max-width: 954px;
        margin: 0 auto;
    }

    @include breakpoint-between(sm, md) {
        max-width: 700px;
        margin: 0 auto;
    }

    @include breakpoint-down(sm) {
        height: 400px;
        max-width: 550px;
        margin: 0 auto;
    }

    @include breakpoint-down(xs) {
        max-width: 300px;
        margin: 0 auto;
    }
}

.network__social-item {
    position: absolute;
}


.network__social-link {
    position: relative;
    display: inline-block;

    .animated-svg {
        width: 100%;
        height: 100%;
    }
}

.network__social-link--discord {
    @include breakpoint-down(xl) {
        width: 279px;

        .network__social-icon {
            width: 50px;
        }
    }

    @include breakpoint-down(md) {
        width: 200px;

        .network__social-icon {
            width: 40px;
        }
    }

    @include breakpoint-down(sm) {
        width: 160px;

        .network__social-icon {
            width: 32px;
        }
    }

    @include breakpoint-down(xs) {
        width: 120px;

        .network__social-icon {
            width: 24px;
        }
    }
}

.network__social-link--github {
    @include breakpoint-down(xl) {
        width: 279px;

        .network__social-icon {
            width: 50px;
        }
    }

    @include breakpoint-down(md) {
        width: 186px;

        .network__social-icon {
            width: 40px;
        }
    }

    @include breakpoint-down(sm) {
        width: 149px;

        .network__social-icon {
            width: 30px;
        }
    }

    @include breakpoint-down(xs) {
        width: 120px;

        .network__social-icon {
            width: 24px;
        }
    }
}

.network__social-link--stack {
    @include breakpoint-down(xl) {
        width: 188px;

        .network__social-icon {
            width: 29px;
        }
    }

    @include breakpoint-down(md) {
        width: 125px;

        .network__social-icon {
            width: 23px;
        }
    }

    @include breakpoint-down(sm) {
        width: 100px;

        .network__social-icon {
            width: 20px;
        }
    }

    @include breakpoint-down(xs) {
        width: 90px;

        .network__social-icon {
            width: 18px;
        }
    }
}

.network__social-link--quora {
    @include breakpoint-down(xl) {
        width: 128px;

        .network__social-icon {
            width: 21px;
        }
    }

    @include breakpoint-down(md) {
        width: 86px;

        .network__social-icon {
            width: 17px;
        }
    }

    @include breakpoint-down(sm) {
        width: 70px;

        .network__social-icon {
            width: 15px;
        }
    }
}

.network__social-link--reddit {
    @include breakpoint-down(xl) {
        width: 145px;

        .network__social-icon {
            width: 25px;
        }
    }

    @include breakpoint-down(md) {
        width: 97px;

        .network__social-icon {
            width: 20px;
        }
    }

    @include breakpoint-down(sm) {
        width: 77px;

        .network__social-icon {
            width: 16px;
        }
    }
}

.network__social-link--youtube {
    @include breakpoint-down(xl) {
        width: 154px;

        .network__social-icon {
            width: 21px;
        }
    }

    @include breakpoint-down(md) {
        width: 125px;

        .network__social-icon {
            width: 18px;
        }
    }

    @include breakpoint-down(sm) {
        width: 100px;

        .network__social-icon {
            width: 16px;
        }
    }
}

.network__social-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.network__social-item--discord {
    left: 0;
    bottom: 14%;

    .animated-svg {
        color: $yellow;
    }
}

.network__social-item--github {
    .animated-svg {
        color: $turquoise;
    }

    @include breakpoint-up(xl) {
        left: 25%;
        bottom: 40.8%;
    }

    @include breakpoint-down(xl) {
        left: 237px;
        bottom: 34.8%;
    }

    @include breakpoint-down(md) {
        left: 169px;
        bottom: 28.8%;

        .animated-svg {
            transform: rotate(0deg);
        }
    }

    @include breakpoint-down(sm) {
        left: 140px;
        bottom: 32.8%;
    }

    @include breakpoint-down(xs) {
        left: 105px;
        bottom: 27.8%;
    }
}

.network__social-item--stack {
    .animated-svg {
        color: $orange;
    }

    @include breakpoint-up(xl) {
        left: 54%;
        bottom: 37.3%;
    }

    @include breakpoint-down(xl) {
        left: 518px;
        bottom: 32.1%;
    }

    @include breakpoint-down(md) {
        left: 339px;
        bottom: 46.7%;

        .animated-svg {
            transform: rotate(-45deg);
        }
    }

    @include breakpoint-down(sm) {
        left: 278px;
        bottom: 55%;
    }

    @include breakpoint-down(xs) {
        left: 67px;
        bottom: 55.6%;

        .animated-svg {
            transform: rotate(-52deg);
        }
    }
}

.network__social-item--quora {
    .animated-svg {
        color: $turquoise;
    }

    @include breakpoint-up(xl) {
        left: 62.2%;
        bottom: 9.3%;
    }

    @include breakpoint-down(xl) {
        left: 590px;
        bottom: 11.3%;
    }

    @include breakpoint-down(md) {
        left: 453px;
        bottom: 40.8%;

        .animated-svg {
            transform: rotate(-45deg);
        }
    }

    @include breakpoint-down(sm) {
        left: 370px;
        bottom: 46.8%;
    }

    @include breakpoint-down(xs) {
        left: 215px;
        bottom: 46.8%;
    }
}

.network__social-item--reddit {
    .animated-svg {
        color: $pink;
    }

    @include breakpoint-up(xl) {
        left: 76%;
        bottom: 1%;
    }

    @include breakpoint-down(xl) {
        left: 717px;
        bottom: 29px;
    }

    @include breakpoint-down(md) {
        left: 568px;
        bottom: 67.7%;

        .animated-svg {
            transform: rotate(12deg);
        }
    }

    @include breakpoint-down(sm) {
        left: 466px;
        bottom: 80.7%;
    }

    @include breakpoint-down(xs) {
        left: 123px;
        bottom: 76.3%;

        .animated-svg {
            transform: rotate(33deg);
        }
    }
}

.network__social-item--youtube {
    .animated-svg {
        color: $yellow;
    }

    @include breakpoint-up(xl) {
        left: 83%;
        bottom: 29%;
    }

    @include breakpoint-down(xl) {
        left: 780px;
        bottom: 25.5%;
    }

    @include breakpoint-down(md) {
        left: 526px;
        bottom: 46.9%;

        .animated-svg {
            transform: rotate(-13deg);
        }
    }

    @include breakpoint-down(sm) {
        left: 431px;
        bottom: 54.9%;
    }

    @include breakpoint-down(xs) {
        left: 175px;
        bottom: 5.9%;
    }
}


.animated-svg {
    pointer-events: none;
    transition: 1s ease-in-out;
    transition-property: transform;

    path {

        transition: fill 1s ease-in-out;
    }
}

.network__social-link {

    @include hover {
        .animated-svg--octa {
            transform: rotate(45deg);

            path {
                fill: currentColor !important;
            }
        }

        .animated-svg--nine {
            transform: rotate(40deg);

            path {
                fill: currentColor !important;
            }
        }

        .animated-svg--seven {
            transform: rotate(53.5deg);

            path {
                fill: currentColor !important;
            }
        }

        .animated-svg--hexa {
            transform: rotate(60deg);

            path {
                fill: currentColor !important;
            }

        }
    }
}