.news {
    padding-bottom: 156px;
    position: relative;
    padding-top: 61px;
}

.news__title {
    color: $white;
    text-transform: uppercase;
    margin-bottom: 55px;
}

.news__block {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 40px;

    @include breakpoint-down(sm) {
        flex-direction: column;
    }
}

.news__item {
    width: calc(50% - 50.5px);

    &:first-child {
        margin-right: 110px;
    }

    @include breakpoint-down(sm) {
        width: 100%;

        &:first-child {
            margin-right: unset;
            margin-bottom: 50px;
        }
    }
}

.news__img {
    width: 100%;
    height: 230px;
    margin-bottom: 20px;
    display: block;
}

.news__img-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__date {
    color: $white;
    display: inline-block;
    margin-bottom: 10px;
}

.news__headline {
    color: $white;
    margin-bottom: 10px;
    letter-spacing: 0.02em;
}

.news__text {
    color: $white;
    margin-bottom: 30px;
}

.news__cta {
    text-transform: uppercase;
    font-family: $font-primary;
    font-weight: $bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.03em;
}

.news__cta-btn {
    text-transform: uppercase;
}

.news__arrows {
    position: absolute;
    left: 76%;
    bottom: 76px;
}

.news__arrows-top {
    position: absolute;
    top: -9px;
    left: 55.2%;
}

.news__atom {
    position: absolute;
    left: 6.3%;
    bottom: 63.2px;

    @include breakpoint-down(xxxl) {
        opacity: 0.2;
        z-index: -1;
    }
}