.text-image {
    padding-top: 53px;
    position: relative;
}

.text-image__content {
    max-width: 65.8%;
    text-align: left;

    @include breakpoint-up(md) {
        margin-bottom: 130px;
    }

    @include breakpoint-between(sm, md) {
        margin-bottom: 80px;
    }

    @include breakpoint-down(sm) {
        max-width: 100%;
        margin-bottom: 60px;
    }
}

.text-image__title {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.text-image__desc {
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.text-image__arrows {
    @include breakpoint-up(md) {
        top: 19.6%;
        right: 25.7%;
    }

    @include breakpoint-between(sm, md) {
        top: 36.6%;
        right: 6.7%;
    }

    @include breakpoint-down(sm) {
        display: none;
    }
}

.text-image__atom {
    position: absolute;
    top: 16.9%;
    right: 5.2%;
    animation: rotateAtomHexagon 6s infinite linear;

    @include breakpoint-down(sm) {
        top: unset;
        right: 5.2%;
    }

    @include breakpoint-down(xs) {
        display: none;
    }
}

.text-image__dots {
    position: absolute;
    bottom: 17%;
    left: 0;
    z-index: -1;

    @include breakpoint-down(xl) {
        bottom: -72px;
        left: 16px;
    }

    @include breakpoint-down(sm) {
        display: none;
    }
}

.text-image__img {
    height: 0;
    position: relative;
    padding-bottom: 46.25%;

    svg .svg-elem-1 {
        stroke-dashoffset: 139.50363159179688px;
        stroke-dasharray: 139.50363159179688px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
    }

    svg.active .svg-elem-1 {
        stroke-dashoffset: 0;
        fill: rgb(255, 43, 121);
    }

    svg .svg-elem-2 {
        stroke-dashoffset: 349.64398193359375px;
        stroke-dasharray: 349.64398193359375px;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
    }

    svg.active .svg-elem-2 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-3 {
        stroke-dashoffset: 738.6607666015625px;
        stroke-dasharray: 738.6607666015625px;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
    }

    svg.active .svg-elem-3 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-4 {
        stroke-dashoffset: 89.84317016601562px;
        stroke-dasharray: 89.84317016601562px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
    }

    svg.active .svg-elem-4 {
        stroke-dashoffset: 0;
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-5 {
        stroke-dashoffset: 132.6221466064453px;
        stroke-dasharray: 132.6221466064453px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
    }

    svg.active .svg-elem-5 {
        stroke-dashoffset: 0;
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-6 {
        stroke-dashoffset: 340.5229187011719px;
        stroke-dasharray: 340.5229187011719px;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
    }

    svg.active .svg-elem-6 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-7 {
        stroke-dashoffset: 457.1086730957031px;
        stroke-dasharray: 457.1086730957031px;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
    }

    svg.active .svg-elem-7 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-8 {
        stroke-dashoffset: 762.4580078125px;
        stroke-dasharray: 762.4580078125px;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
    }

    svg.active .svg-elem-8 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-9 {
        stroke-dashoffset: 69.84736633300781px;
        stroke-dasharray: 69.84736633300781px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
    }

    svg.active .svg-elem-9 {
        stroke-dashoffset: 0;
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-10 {
        stroke-dashoffset: 147.4634552001953px;
        stroke-dasharray: 147.4634552001953px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
    }

    svg.active .svg-elem-10 {
        stroke-dashoffset: 0;
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-11 {
        stroke-dashoffset: 42.840704496667314px;
        stroke-dasharray: 42.840704496667314px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
    }

    svg.active .svg-elem-11 {
        stroke-dashoffset: 0;
        fill: rgb(213, 255, 47);
    }

    svg .svg-elem-12 {
        stroke-dashoffset: 44.84811782836914px;
        stroke-dasharray: 44.84811782836914px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
    }

    svg.active .svg-elem-12 {
        stroke-dashoffset: 0;
        fill: rgb(213, 255, 47);
    }

    svg .svg-elem-13 {
        stroke-dashoffset: 44.84806823730469px;
        stroke-dasharray: 44.84806823730469px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
    }

    svg.active .svg-elem-13 {
        stroke-dashoffset: 0;
        fill: rgb(213, 255, 47);
    }

    svg .svg-elem-14 {
        stroke-dashoffset: 44.848060607910156px;
        stroke-dasharray: 44.848060607910156px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
    }

    svg.active .svg-elem-14 {
        stroke-dashoffset: 0;
        fill: rgb(213, 255, 47);
    }

    svg .svg-elem-15 {
        stroke-dashoffset: 393.37860107421875px;
        stroke-dasharray: 393.37860107421875px;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
    }

    svg.active .svg-elem-15 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-16 {
        stroke-dashoffset: 441.1091613769531px;
        stroke-dasharray: 441.1091613769531px;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7999999999999998s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7999999999999998s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s;
    }

    svg.active .svg-elem-16 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-17 {
        stroke-dashoffset: 226.2908477783203px;
        stroke-dasharray: 226.2908477783203px;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.92s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.92s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s;
    }

    svg.active .svg-elem-17 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-18 {
        stroke-dashoffset: 44.84815979003906px;
        stroke-dasharray: 44.84815979003906px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.04s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.04s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
    }

    svg.active .svg-elem-18 {
        stroke-dashoffset: 0;
        fill: rgb(213, 255, 47);
    }

    svg .svg-elem-19 {
        stroke-dashoffset: 42.840704496667314px;
        stroke-dasharray: 42.840704496667314px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.16s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.16s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
    }

    svg.active .svg-elem-19 {
        stroke-dashoffset: 0;
        fill: rgb(213, 255, 47);
    }

    svg .svg-elem-20 {
        stroke-dashoffset: 441.1092834472656px;
        stroke-dasharray: 441.1092834472656px;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.28s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.28s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
    }

    svg.active .svg-elem-20 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-21 {
        stroke-dashoffset: 226.2908172607422px;
        stroke-dasharray: 226.2908172607422px;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s;
    }

    svg.active .svg-elem-21 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-22 {
        stroke-dashoffset: 44.848297119140625px;
        stroke-dasharray: 44.848297119140625px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.52s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.9000000000000004s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.52s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.9000000000000004s;
    }

    svg.active .svg-elem-22 {
        stroke-dashoffset: 0;
        fill: rgb(213, 255, 47);
    }

    svg .svg-elem-23 {
        stroke-dashoffset: 42.840704496667314px;
        stroke-dasharray: 42.840704496667314px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6399999999999997s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6399999999999997s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3s;
    }

    svg.active .svg-elem-23 {
        stroke-dashoffset: 0;
        fill: rgb(213, 255, 47);
    }

    svg .svg-elem-24 {
        stroke-dashoffset: 441.1091613769531px;
        stroke-dasharray: 441.1091613769531px;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.76s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.1000000000000005s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.76s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.1000000000000005s;
    }

    svg.active .svg-elem-24 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-25 {
        stroke-dashoffset: 226.2911834716797px;
        stroke-dasharray: 226.2911834716797px;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.88s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.88s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s;
    }

    svg.active .svg-elem-25 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-26 {
        stroke-dashoffset: 44.84836196899414px;
        stroke-dasharray: 44.84836196899414px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.3s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.3s;
    }

    svg.active .svg-elem-26 {
        stroke-dashoffset: 0;
        fill: rgb(213, 255, 47);
    }

    svg .svg-elem-27 {
        stroke-dashoffset: 42.840704496667314px;
        stroke-dasharray: 42.840704496667314px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.12s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.4000000000000004s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.12s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.4000000000000004s;
    }

    svg.active .svg-elem-27 {
        stroke-dashoffset: 0;
        fill: rgb(213, 255, 47);
    }

    svg .svg-elem-28 {
        stroke-dashoffset: 600.8756713867188px;
        stroke-dasharray: 600.8756713867188px;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2399999999999998s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2399999999999998s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5s;
    }

    svg.active .svg-elem-28 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-29 {
        stroke-dashoffset: 307.9327087402344px;
        stroke-dasharray: 307.9327087402344px;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.36s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.6000000000000005s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.36s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.6000000000000005s;
    }

    svg.active .svg-elem-29 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-30 {
        stroke-dashoffset: 44.848411560058594px;
        stroke-dasharray: 44.848411560058594px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.48s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.7s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.48s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.7s;
    }

    svg.active .svg-elem-30 {
        stroke-dashoffset: 0;
        fill: rgb(213, 255, 47);
    }

    svg .svg-elem-31 {
        stroke-dashoffset: 42.840704496667314px;
        stroke-dasharray: 42.840704496667314px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5999999999999996s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.8s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5999999999999996s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.8s;
    }

    svg.active .svg-elem-31 {
        stroke-dashoffset: 0;
        fill: rgb(213, 255, 47);
    }

    svg .svg-elem-32 {
        stroke-dashoffset: 42.840704496667314px;
        stroke-dasharray: 42.840704496667314px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.7199999999999998s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.9000000000000004s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.7199999999999998s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.9000000000000004s;
    }

    svg.active .svg-elem-32 {
        stroke-dashoffset: 0;
        fill: rgb(213, 255, 47);
    }

    svg .svg-elem-33 {
        stroke-dashoffset: 42.840704496667314px;
        stroke-dasharray: 42.840704496667314px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.84s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.84s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4s;
    }

    svg.active .svg-elem-33 {
        stroke-dashoffset: 0;
        fill: rgb(213, 255, 47);
    }

    svg .svg-elem-34 {
        stroke-dashoffset: 596.1312866210938px;
        stroke-dasharray: 596.1312866210938px;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.96s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.1000000000000005s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.96s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.1000000000000005s;
    }

    svg.active .svg-elem-34 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-35 {
        stroke-dashoffset: 308.0191345214844px;
        stroke-dasharray: 308.0191345214844px;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 4.08s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.2s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 4.08s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.2s;
    }

    svg.active .svg-elem-35 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-36 {
        stroke-dashoffset: 44.84822463989258px;
        stroke-dasharray: 44.84822463989258px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 4.2s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.3s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 4.2s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.3s;
    }

    svg.active .svg-elem-36 {
        stroke-dashoffset: 0;
        fill: rgb(213, 255, 47);
    }

    svg .svg-elem-37 {
        stroke-dashoffset: 42.840704496667314px;
        stroke-dasharray: 42.840704496667314px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 4.32s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.4s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 4.32s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.4s;
    }

    svg.active .svg-elem-37 {
        stroke-dashoffset: 0;
        fill: rgb(213, 255, 47);
    }

    svg .svg-elem-38 {
        stroke-dashoffset: 149.63580322265625px;
        stroke-dasharray: 149.63580322265625px;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 4.4399999999999995s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.5s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 4.4399999999999995s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.5s;
    }

    svg.active .svg-elem-38 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-39 {
        stroke-dashoffset: 76.94022369384766px;
        stroke-dasharray: 76.94022369384766px;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 4.56s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.6000000000000005s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 4.56s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.6000000000000005s;
    }

    svg.active .svg-elem-39 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-40 {
        stroke-dashoffset: 76.9401626586914px;
        stroke-dasharray: 76.9401626586914px;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 4.68s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.7s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 4.68s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.7s;
    }

    svg.active .svg-elem-40 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-41 {
        stroke-dashoffset: 74.39799499511719px;
        stroke-dasharray: 74.39799499511719px;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 4.8s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.8s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 4.8s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.8s;
    }

    svg.active .svg-elem-41 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-42 {
        stroke-dashoffset: 107.56596374511719px;
        stroke-dasharray: 107.56596374511719px;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 4.92s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.9s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 4.92s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.9s;
    }

    svg.active .svg-elem-42 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-43 {
        stroke-dashoffset: 118.11747741699219px;
        stroke-dasharray: 118.11747741699219px;
        -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 5.04s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5s;
        transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 5.04s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5s;
    }

    svg.active .svg-elem-43 {
        stroke-dashoffset: 0;
    }


}

.text-image__graphic {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 0;
}

.cls-1 {
    fill: #d5ff2f;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9 {
    stroke-miterlimit: 10;
}

.cls-1,
.cls-5,
.cls-6,
.cls-7 {
    stroke: #d5ff2f;
}

.cls-1,
.cls-7 {
    stroke-width: 4px;
}

.cls-2 {
    stroke: #fff;
}

.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-8,
.cls-9 {
    stroke-width: 3px;
}

.cls-2,
.cls-3,
.cls-5,
.cls-6,
.cls-7,
.cls-8 {
    fill: none;
}

.cls-3,
.cls-9 {
    stroke: #000;
}

.cls-4 {
    fill: #ff2b79;
}

.cls-4,
.cls-8 {
    stroke: #ff2b79;
}

.cls-6 {
    stroke-width: 5px;
}

.cls-9 {
    fill: #fff;
}