.text-cards {
    margin-bottom: 131px;
    padding-top: 25px;
    position: relative;

    @include breakpoint-down(xl) {
        padding-top: 170px;
    }
}

.text-cards__title {
    text-transform: uppercase;
    margin-bottom: 80px;
}

.text-cards__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 150px 100px;

    @include breakpoint-between(sm, md) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    @include breakpoint-down(sm) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 80px 100px;
    }
}

.text-card {
    @include breakpoint-up(xl) {
        &:nth-child(4) {
            .text-card__title {
                max-width: 50%;
            }
        }

        &:nth-child(5) {
            .text-card__title {
                max-width: 50%;
            }
        }

        &:nth-child(6) {
            .text-card__title {
                max-width: 60%;
            }
        }
    }
}

.text-card__icons {
    position: relative;
}

.text-card__title {
    margin-bottom: 36px;
    letter-spacing: 0.015em;
}

.text-cards__dots {
    position: absolute;

    @include breakpoint-up(xl) {
        top: 42%;
        right: 0;
    }

    @include breakpoint-between(xl, xxl) {
        z-index: -1;
        opacity: .1;
    }

    @include breakpoint-down(xl) {
        top: 69%;
        right: 0;
        z-index: -1;
        opacity: .1;
    }
}

.text-cards__hexa--sm {
    position: absolute;
    position: absolute;
    top: -131px;
    right: -63px;
    transform: scale(0.59);

    @include breakpoint-down(md) {
        right: 39px;
    }

    @include breakpoint-down(sm) {
        opacity: 0.3;
        z-index: -1;
    }

    @include breakpoint-down(xs) {
        display: none;
    }
}

.text-cards__hexa--lg {
    position: absolute;
    top: -88px;
    right: -27px;

    @include breakpoint-down(md) {
        right: 12px;
    }

    @include breakpoint-down(sm) {
        opacity: 0.3;
        z-index: -1;
    }

    @include breakpoint-down(xs) {
        display: none;
    }
}

.text-cards__octaeder {
    position: absolute;
    bottom: -27%;
    left: 6.4%;
    animation: rotateAtomNona 8s infinite linear;

    @include breakpoint-between(sm, md) {
        bottom: -12%;
    }

    @include breakpoint-down(sm) {
        bottom: -12%;
        opacity: .1;
    }
}

.text-cards__octa-top {
    position: absolute;
    top: 3.3%;
    right: 7.2%;

    @include breakpoint-down(sm) {
        top: 12.2%;
    }
}