.video {
    padding-top: 127px;
    margin-bottom: 69px;
    position: relative;
    padding-bottom: 185px;
}

.video__title {
    text-transform: uppercase;
    color: $white;
    margin-bottom: 57px;
    max-width: 64.9%;

    @include breakpoint-down(xl) {
        max-width: 78.9%;
    }
}

.video__atom-nona {
    position: absolute;
    top: 113px;
    left: 6.82%;

    @include breakpoint-down(xxxl) {
        opacity: 0.2;
        z-index: -1;
    }

    @include breakpoint-down(xl) {
        display: none;
    }
}

.video__titleholder {
    display: flex;
    position: relative;
}

.video__hexa {
    position: relative;
    top: 47px;
    left: 11px;

    @include breakpoint-down(md) {
        display: none;
    }
}

.video__dots--red {
    position: absolute;
    top: 0;
    right: 0;

    @include breakpoint-down(sm) {
        opacity: .3;
        z-index: -1;
    }
}

.video__atom-octa {
    position: absolute;
    bottom: 0;
    right: 6.51%;

    @include breakpoint-down(xxxl) {
        opacity: 0.2;
        z-index: -1;
    }
}


.video__dots--blue {
    position: absolute;
    top: 96.7%;

    @include breakpoint-down(xxxl) {
        opacity: 0.2;
        z-index: -1;
    }
}

.video__video {
    padding-bottom: 49.25%;
    position: relative;
}

.video__fallback {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.video__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 4;
    cursor: pointer;
    background-color: rgba($white, .3);
    border: 1px solid $white;
    border-radius: 50%;

    @include breakpoint-up(md) {
        width: 90px;
        height: 90px;
    }

    @include breakpoint-between(sm, md) {
        width: 70px;
        height: 70px;
    }

    @include breakpoint-down(sm) {
        width: 55px;
        height: 55px;
    }
}

.video__btn-holder {
    position: relative;
    display: block;
    border-radius: 50%;
    background: transparent;
    transition: transform .3s ease;

    &:before,
    &:after {
        content: "";
        border: 1px solid;
        border-color: #fff;
        border-radius: 50%;
        position: absolute;
        left: -6px;
        top: -2px;
        opacity: 1;
        animation: 1s it-zoom linear infinite;
    }

    &:before {
        animation-delay: 0.5s;
    }

    &:hover {
        transform: scale(1.2);
    }

    @include breakpoint-up(md) {
        width: 90px;
        height: 90px;

        &::before,
        &::after {
            width: 90px;
            height: 90px;
        }
    }

    @include breakpoint-between(sm, md) {
        width: 70px;
        height: 70px;

        &::before,
        &::after {
            width: 70px;
            height: 70px;
        }
    }

    @include breakpoint-down(sm) {
        width: 55px;
        height: 55px;

        &::before,
        &::after {
            width: 55px;
            height: 55px;
        }
    }
}

@keyframes it-zoom {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.video__btn-play {
    position: absolute;
    top: 46%;
    left: 47%;
    transform: translate(-50%, -50%);

    @include breakpoint-down(md) {
        left: 44%;
        transform: translate(-50%, -50%) scale(0.9);
    }
}

.video__popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    clip-path: circle(0% at 50% 50%);
    transition: .8s cubic-bezier(.17, .67, .83, .67);
    transition-property: clip-path visibility opacity;
}

.video__popup--active {
    display: block;
    visibility: visible;
    opacity: 1;
    background-color: rgba($black, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    clip-path: circle(100% at 50% 50%);

    .video__popup-video {
        display: block;
    }
}

.video__popup-holder {
    width: 100%;
    height: 0;
    padding-bottom: 49.25%;
    position: relative;
    z-index: 7;
}

.video__popup-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.video__popup-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -8%;
    right: 2%;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;

    @include hover {
        .video__popup-close-holder {
            transform: rotate(180deg);
        }
    }

    @include breakpoint-down(md) {
        width: 30px;
        height: 30px;
    }

    @include breakpoint-down(sm) {
        top: -20%;
        right: 0;
        width: 20px;
        height: 20px;
    }
}

.video__popup-close-holder {
    position: relative;
    transition: transform .6s ease;
    display: block;

    @include breakpoint-up(md) {
        width: 40px;
        height: 40px;
    }

    @include breakpoint-between(sm, md) {
        width: 30px;
        height: 30px;
    }

    @include breakpoint-down(sm) {
        width: 20px;
        height: 20px;
    }
}

.video__popup-close-bar {
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 100px;
    background-color: $white;

    &:first-child {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:last-child {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}