.video {
    padding-top: 127px;
    margin-bottom: 69px;
    position: relative;
    padding-bottom: 69px;
}

.video__title {
    text-transform: uppercase;
    color: $white;
    margin-bottom: 57px;
    max-width: 64.9%;

    @include breakpoint-down(xl) {
        max-width: 78.9%;
    }
}

.video__atom-nona {
    position: absolute;
    top: 113px;
    left: 6.82%;

    @include breakpoint-down(xxxl) {
        opacity: 0.2;
        z-index: -1;
    }
}

.video__titleholder {
    display: flex;
    position: relative;
}

.video__hexa {
    position: relative;
    top: 47px;
    left: 11px;
}

.video__dots--red {
    position: absolute;
    top: 0;
    right: 0;
}

.video__atom-octa {
    position: absolute;
    bottom: 0;
    right: 6.51%;

    @include breakpoint-down(xxxl) {
        opacity: 0.2;
        z-index: -1;
    }
}


.video__dots--blue {
    position: absolute;
    top: 96.7%;

    @include breakpoint-down(xxxl) {
        opacity: 0.2;
        z-index: -1;
    }
}

.video__video {
    padding-bottom: 56.25%;
    position: relative;
}

.video__video-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}