.main {
    overflow: hidden;
}

.wrap {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.wrap--sm {
    max-width: calc(1345px + 40px);
}

.wrap--lg {
    max-width: calc(1620px + 40px);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

body {
    background-color: $purple;

}

html {
    scroll-behavior: smooth;
}

.skip-link {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: rgba($white, .3);
    color: white;
    opacity: 0;
}

.skip-link:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}