.wrap {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.wrap--sm {
    max-width: calc(1345px + 40px);
}

.wrap--lg {
    max-width: calc(1620px + 40px);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

body {
    background-color: $purple;
}

html {
    scroll-behavior: smooth;
}

.skip-link {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: rgba($white, .3);
    color: white;
    opacity: 0;
}

.skip-link:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

.nav-link-hover {
    position: relative;

    @include breakpoint-up(md) {
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            height: 1px;
            background-color: $white;
            border-radius: 50%;
            transition: width .3s cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    @include hover {
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: unset;
            left: 0;
            width: 100%;
            height: 1px;
        }
    }
}

.cta-btn {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    padding: 0 20px;
    transition: transform .3s ease-in-out;

    &::before {
        content: '';
        background-image: url('../images/design/btn.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 100%;
        display: inline-block;
        z-index: -1;
        position: absolute;
    }

    @include hover {
        transform: translateY(-5px);
    }
}

.cta-btn--md {
    min-width: 248px;
    height: 50px;
}

.cta-btn--lg {
    height: 65px;
    min-width: 217px;

    &::before {
        background-image: url('../images/design/btn-lg.svg');
    }
}

.cta-btn--sm {
    height: 50px;
    min-width: 200px;

    &::before {
        background-image: url('../images/design/btn-cta-sm.svg');
    }
}

.text--yellow {
    color: $yellow;
}

.arrows {
    display: flex;
    position: absolute;

    width: 70px;
}

.scroll-disabled {
    margin: 0;
    height: 100%;
    overflow: hidden
}

#my-scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}