/**
 * Variables
*/

/* Typography */
$light: 300;
$regular: 400;
$normal: 500;
$bold: 700;
/* Breakpoints */
$breakpoints: (
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    xl: 1440px,
    xxl: 1700px
);
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$gray: #f9f9f9;
$purple: #361281;
$yellow: #D5FF2F;
$pink: #FF2473;
$orange: #FF6F1F;
$turquoise: #54F2F2;

/* Components */